ColorSnapper2_1.6.3.dmg filter=lfs diff=lfs merge=lfs -text
Paw_HTTP_Client_3.1.10.dmg filter=lfs diff=lfs merge=lfs -text
Pixelmator_3.9.dmg filter=lfs diff=lfs merge=lfs -text
Sketch_68.2.dmg filter=lfs diff=lfs merge=lfs -text
Drop_1.6.1.dmg filter=lfs diff=lfs merge=lfs -text
Dash_5.4.0.dmg filter=lfs diff=lfs merge=lfs -text
IconKit_10.1.1.dmg filter=lfs diff=lfs merge=lfs -text
Noizio_2.0.6.dmg filter=lfs diff=lfs merge=lfs -text
PDF_Expert_2.5.11.dmg filter=lfs diff=lfs merge=lfs -text
Pap.er_3.5.1.dmg filter=lfs diff=lfs merge=lfs -text
PopClip_2019.10.dmg filter=lfs diff=lfs merge=lfs -text
Tayasui_Sketches_Pro_5.0.dmg filter=lfs diff=lfs merge=lfs -text
Charles_4.5.6.dmg filter=lfs diff=lfs merge=lfs -text
CleanMyMac_X_4.6.12.dmg filter=lfs diff=lfs merge=lfs -text
Parallels_Desktop_Business_Edition_16.0.0-48916.dmg filter=lfs diff=lfs merge=lfs -text
Principle_5.12.dmg filter=lfs diff=lfs merge=lfs -text
iStat_Menus_6.41.dmg filter=lfs diff=lfs merge=lfs -text
Notability_4.2.5.dmg filter=lfs diff=lfs merge=lfs -text
Beyond_Compare_4.3.6.25063.dmg filter=lfs diff=lfs merge=lfs -text
XMind_10.2.1.dmg filter=lfs diff=lfs merge=lfs -text
MWeb_3.4.1.dmg filter=lfs diff=lfs merge=lfs -text
Dash_5.5.0.dmg filter=lfs diff=lfs merge=lfs -text
